
/*------------------------------------*\
	$VARIABLES
\*------------------------------------*/

// colour declorations

$light-grey: #f4f4f4;
$mid-grey: #b5b5b5;
$dark-grey: #555555;
$white: #fff;

// item declorations
$text-color: $dark-grey;
$primary-heading: $dark-grey;
$secondarytext: $mid-grey;
$borders: $mid-grey;
$module-bg: $light-grey;

